APP_NAME=University Events API
APP_ENV=development
SECRET_KEY=please-change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
DATABASE_URL=sqlite:////app/data/app.db
FRONTEND_EVENT_BASE_URL=http://localhost:3000/events

# Reserved for future Google OAuth integration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_ALLOWED_DOMAIN=student.usv.ro
ENFORCE_STUDENT_DOMAIN_ON_REGISTER=false
STUDENT_DOMAIN=student.usv.ro
